{:source-paths
 ["src/main"]

 :dependencies
 []

 :builds
 {:worker {:target :esm
           :output-dir "dist"
           :modules {:_worker {:exports {default worker/worker}}}
           :compiler-options {:pretty-print true :pseudo-names false}}
  :devserver {:target :esm
              :output-dir "devserver"
              :modules {:_worker {:exports {default worker/worker}}}
              :compiler-options {:pretty-print true :pseudo-names false}}}}
